* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

body {
    min-height: 100vh;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.9), 
        rgba(80, 80, 80, 0.9)),
        url('fon.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(5px);
}

.container {
    width: 90%;
    max-width: 1200px;
    padding: 2rem;
}


.glowing-title {
    text-align: center;
    font-size: 4rem;
    color: rgba(255, 255, 255, 0.9);
    text-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
    margin-bottom: 3rem;
    animation: glow 2s infinite alternate;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    margin: 0 auto; 
}


.glass-box {
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(12px);
    border-radius: 15px;
    padding: 2rem;
    text-align: center;
    text-decoration: none;
    color: white;
    transition: all 0.3s ease;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.glass-box:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
}

.glass-box span {
    font-size: 1.8rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.back-button-container {
    margin-top: 3rem;
    text-align: center;
}

.back-btn {
    display: inline-block;
    padding: 5px 15px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    color: white;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 0.9rem;
    min-height: 32px;
    line-height: 1.5;
    width: 400x; 
}

.back-btn:hover {
    background: rgba(255, 255, 255, 0.2);
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px rgba(255,255,255,0.3);
    }
    to {
        text-shadow: 0 0 20px rgba(255,255,255,0.7),
                     0 0 30px rgba(255,255,255,0.4);
    }
}