* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif; 
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    height: 100vh;
    background: 
        linear-gradient(rgba(0, 0, 0, 0.9), rgba(80, 80, 80, 0.9)),
        url('fon.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    padding: 2rem;
    border-radius: 15px;
    width: 320px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}

h1 {
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-bottom: 2rem;
}

.button-container {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.action-btn {
    padding: 14px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.9);
    color: #1d1d1d;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}

.action-btn:hover {
    background: rgba(255, 255, 255, 1);
    transform: translateY(-2px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.telegram-btn {
    background: rgba(0, 162, 255, 0.9);
    color: white;
}

.telegram-btn:hover {
    background: rgba(0, 162, 255, 0.9);
}

.tiktok-btn {
    background: linear-gradient(45deg, #000000, #FE2C55);
    color: white;
}

.tiktok-btn:hover {
    background: linear-gradient(45deg, #000000, #FE2C55);
}